
/* 头像css */
.tx{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 100px auto;
    margin-bottom: 50px;
    
}
.tx_e{
    position: relative;
    right: 0%;
    width: 120px;
}
/* 背景css */
.home{
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    background-image: url(../img/bg.jpg); 
    background-position: center  center;
    background-repeat: no-repeat;background-size:cover;
}